{% extends "base.html" %}

{% block title %}Ayuda{% endblock %}

{% load static %}

{% load custom_filters %}

{% block scripts %}
    <script src="{% static 'js/general.js' %}"></script>
{% endblock %}

{% block body %}

<div class="vidrio-blur p-3">

    <div style="position: relative; width: 78.1%; height: 0; padding-top: 44%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        display: block;
        padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden;
        border-radius: 8px; will-change: transform;">
        <iframe loading="lazy" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
            src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAF2c1FQEhY&#x2F;view?embed" allowfullscreen="allowfullscreen" allow="fullscreen">
        </iframe>
    </div>
</div>

<!--<div style="position: relative; width: 100%; height: 0; padding-top: 56.2500%;
 padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden;
 border-radius: 8px; will-change: transform;">
  <iframe loading="lazy" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
    src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAF2c1FQEhY&#x2F;view?embed" allowfullscreen="allowfullscreen" allow="fullscreen">
  </iframe>
</div>
<a href="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAF2c1FQEhY&#x2F;view?utm_content=DAF2c1FQEhY&amp;utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener">GUÍA DE PRIMEROS PASOS PARA EL USO DEL SISTEMA</a> de Sistema Control Docente-->

<!--<div style="position: relative; width: 75%; height: 0; padding-top: 56.2500%;
 padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden;
 border-radius: 8px; will-change: transform;">-->
  <!--<iframe loading="lazy" style="position: absolute; width: 75%; height: 75%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
    src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAF2bLkz4fw&#x2F;view?embed" allowfullscreen="allowfullscreen" allow="fullscreen">
  </iframe>-->
<!--</div>-->
<!--<a href="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAF2bLkz4fw&#x2F;view?utm_content=DAF2bLkz4fw&amp;utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener">Sistema Control Docente</a> de Brayan Bade-->

    <!--<div class="vidrio-blur p-3">
        <h1>He aquí, la presentación</h1>
    </div>-->

        <!--<div class="scroll-box">-->
        <!--<div class="row row-cols-1 row-cols-md-3 g-0 mt-5">--> <!--row row-cols-1 row-cols-md-3 g-4 mt-5-->
            
        <!--</div>-->
        <!--</div>-->

<!--<div class="cuerpo-accounts">
    <div class="vidrio-blur mt-5 p-5">
        <div class="text-center">
            <h1>:D 👋</h1>
        </div>
    </div>
    <div class="mt-5 text-center">
        <span>Jijijija!</span>
    </div>
</div>-->

{% endblock %}