{% extends './base.html' %}

{% block title %}Calendario{% endblock %}

{% load static %}

{% block scripts %}
  <script src="{% static 'js/general.js' %}"></script>
  <script src="{% static 'js/calendario.js' %}"></script>
{% endblock %}

{% block body %}
<div class="calendar">
  <div class="calendar__info">
    <div class="calendar__prev" id="prev-month">&#9664;</div>
    <div class="calendar__month" id="month"></div>
    <div class="calendar__year" id="year"></div>
    <div class="calendar__next" id="next-month">&#9654;</div>
  </div>

  <div class="calendar__week">
    <div class="calendar__day calendar__item">Lunes</div>
    <div class="calendar__day calendar__item">Martes</div>
    <div class="calendar__day calendar__item">Miércoles</div>
    <div class="calendar__day calendar__item">Jueves</div>
    <div class="calendar__day calendar__item">Viernes</div>
    <div class="calendar__day calendar__item">Sábado</div>
    <div class="calendar__day calendar__item">Domingo</div>
  </div>  

  <div class="dates-cont">
    <div class="calendar__dates" id="dates"></div>
  </div>
</div>
{% endblock %}