{%extends 'accounts/base.html'%}

{% block title %}Reestablecer contraseña{% endblock%}

{% block content %}

<!--<div class="center card">
	<h2>Resetar contraseña</h2>
	<p>Revise su bandeja de entrada y siga las instrucciones para restablecer su contraseña.</p>
</div>-->

<div class="cuerpo-accounts">
    <div class="vidrio-blur mt-5 p-5">
        <div class="text-center">
            <h1>Correo enviado 📨</h1>
            </br>
            <p>Revise su bandeja de entrada y siga las instrucciones para reestablecer la contraseña de su cuenta.</p>
        </div>
    </div>
    <div class="mt-5 text-center">
        <a class="btn btn-primary border border-black rounded" target="_blank" href="https://www.gmail.com">Abrir Gmail</a>
    </div>
</div>

{% endblock %}