{%extends 'accounts/base.html'%}

{% block title %}Reestablecer contraseña{% endblock %}

{% block content %}

<!--<div class="card center">
	<p>Tu contraseña ha sido cambiada exitosamente. Por favor <a href="{% url 'signin' %}">Incie Sesión</a></p>
</div>-->

<div class="cuerpo-accounts">
    <div class="vidrio-blur mt-5 p-5">
        <div class="text-center">
            <h1>Contraseña reestablecida ✅</h1>
            </br>
            <p>Su contraseña ha sido reestablecida exitosamente.</p>
			<p>Ahora puede iniciar sesión.</p>
        </div>
    </div>
    <div class="mt-5 text-center">
        <a class="btn btn-success border border-black rounded" href="{% url 'signin' %}">Iniciar sesión</a>
    </div>
</div>

{% endblock %}