<!--<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reestablecer contraseña</title>
</head>
<body>
    
</body>
</html>-->

<p>Hola!</p>

<p>Está recibiendo este correo electrónico porque solicitó un reestablecimiento de contraseña para su cuenta de usuario en {{domain}}/</p>

<p>Por favor, haga clic en el siguiente enlace para reestablecer su contraseña:</p>

{{ protocol }}://{{ domain }}{% url "password_reset_confirm" uidb64=uid token=token %}

<p>Gracias.<br>
- Sistema Control Docente</p>
