{% extends "./base.html" %}

{% block title %}Gestion de Horarios{% endblock %}

{% load static %}

{% block scripts %}
    <script src="{% static 'js/general.js' %}"></script>
    <script src="{% static 'js/eliminar.js' %}"></script>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <!--Menu desplegable del formulario-->
        <button type="button" class="btn btn-success boton-registrar border-dark" data-bs-toggle="modal" data-bs-target="#ModalFormulario">
            ➕ Registrar nuevo Horario
        </button>
        <!--formulario de registro de datos-->
        <div class="modal fade" id="ModalFormulario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content vidrio-blur">
                    <div class="modal-header">
                        <h4 class="modal-title fs-5" id="exampleModalLabel">Registrar Horario:</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                <form action="{% url 'registrarHorario' %}" method="POST">{% csrf_token %}
                    <div class="form-group mb-1"> <!--LISTA DIAS-->
                        <select class="form-select" aria-label="Default select example" id="dia" name="dia">
                            <option value="" selected disabled>Seleccione un Día</option>
                            <option value="L">(L) Lunes</option>
                            <option value="M">(M) Martes</option>
                            <option value="X">(X) Miércoles</option>
                            <option value="J">(J) Jueves</option>
                            <option value="V">(V) Viernes</option>
                        </select>
                    </div>
                    <div class="form-group mb-1">
                        <input type="number" autocomplete="off" id="h_i" name="h_i" class="form-control" placeholder="Módulo de Inicio" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="1" required>
                    </div>
                    <div class="form-group mb-1">
                        <input type="number" autocomplete="off" id="h_f" name="h_f" class="form-control" placeholder="Módulo de Fin" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="1" required>
                    </div>
                    <div class="d-grid mt-3">
                        <button type="submit" class="btn btn-success border border-black rounded">
                            ➕ Registrar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>

<div class="">
    <div class="row">
        <div class="col mb-3">
            <h1>Horarios registrados:</h1>
        </div>
        <div class="col"> <!--VISUALIZACION MENSAJES-->
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% elif message.tags == 'info' %}alert-info{% endif %} alert-dismissible" role="alert">
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        <strong>{{ message }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="table-responsive"> <!--COMIENZO TABLA-->
        <div class="scroll-box">
            <table class="table table-striped">
                <thead>
                     <tr>
                        <th class="col txt-datos">#</th>
                        <th class="col txt-datos" hidden>ID Horario</th>
                        <th class="col txt-datos">Día</th>
                        <th class="col txt-datos">Módulo de Inicio</th>
                        <th class="col txt-datos">Módulo de Fin</th>
                        <th class="col txt-datos">Opciones</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider border-light">
                    {% for h in horarios %}
                    <tr>
                        <td class="txt-datos txt-centrado">{{forloop.counter}}</td>
                        <td class="txt-datos txt-centrado" hidden>{{h.id_hor}}</td>
                        <!--<td class="txt-datos txt-centrado">{{h.dia}}</td>-->
                        {% if h.dia == "L" %}
                            <td class="txt-datos txt-centrado">Lunes</td>
                        {% else %}
                            {% if h.dia == "M" %}
                                <td class="txt-datos txt-centrado">Martes</td>
                            {% else %}
                                {% if h.dia == "X" %}
                                    <td class="txt-datos txt-centrado">Miércoles</td>
                                {% else %}
                                    {% if h.dia == "J" %}
                                        <td class="txt-datos txt-centrado">Jueves</td>
                                    {% else %}
                                        {% if h.dia == "V" %}
                                            <td class="txt-datos txt-centrado">Viernes</td>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        <td class="txt-datos txt-centrado">{{h.h_i}}°</td>
                        <td class="txt-datos txt-centrado">{{h.h_f}}°</td>
                        <td class="txt-centrado">
                            <div class="btn-group dropstart">
                                <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
                                <ul class="dropdown-menu text-center cuerpo-menu-opciones">
                                    <li><a href="/edicionHorario/{{h.id_hor}}" class="mb-1 dropdown-item bg-primary text-light">
                                            Modificar
                                        </a>
                                    </li>
                                    <!-- Button trigger modal Eliminar -->
                                    <li><button type="button" class="dropdown-item bg-danger text-light" data-bs-toggle="modal" data-bs-target="#exampleModal{{h.id_hor}}">
                                            Eliminar
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal{{h.id_hor}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content bg-whitesmoke">
                            <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="txt-centrado">
                                    <p>Esta acción no se puede deshacer.
                                    <br>
                                    ¿Está segur@ de <u>eliminar</u> este Horario?
                                    <br><!--<br>
                                    "<strong>{{m.nombre}}</strong>"</p>-->
                                </div>
                            </div>
                            <div class="modal-footer justify-content-around">
                                    <button type="button" class="btn btn-secondary px-5" data-bs-dismiss="modal">No</button>
                                    <a href="/eliminarHorario/{{h.id_hor}}" class="btn btn-danger">Si</a>
                            </div>
                        </div>
                        </div>
                    </div>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}